.dashMainBox{
    display:flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    /* height: 3000px; */
}

.topContainer{
    width: 65%;
    height: 40px;
    /* background: #F2F2F2; */
    background: white;
    /* border: solid 2px black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomContainer{
    width: 65%;
    /* height: 3000px; */
    background: white;
    /* background: linear-gradient(to right, #FF70A6, #FF9770, #FFD670 , #E9FF70); */
    /* border: solid 2px black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    align-items: center;
}

.flR{
    display: flex;
    flex-direction: row;
}

.links{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
}

.previewContainer{
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    text-indent: 50px;
    width: 98%;
    background: #F2F2F2;
    border: solid 1px 403D39;
}

.profilePicDash{
    width: 100px;
    height: 100px;
    background: #F2F2F2;
    border-radius: 50%;
}