.postMain{
    display: flex;
    justify-content: center;
    align-items: center;
}
.postContainer{
    width: 80%;
    height: 750px;
    background: white;
    border: 1px black solid;
    display: flex;
    flex-direction: row;
}
.postInner{
    display: flex;
    /* flex-direction: column; */
}
.upper{
    text-align: left;
    text-indent: 50px;
    font-size: 50px;
    font-weight: bolder;
    color: #ff70a6;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
}
.upper>img{
    width: 95%;
    /* height: 95%; */
}
.middleA{
    width:45%;
    display: flex;
    align-items: center;
    font-size: 30px;
}
.downer{
    width:5%;
}

.borders{
    border: 1px solid black;
}


.downer>img{
    width: 50px;
    height: 50px;
}